.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.form-container {
  width: 100%;
  max-width: 500px; /* Aumentar a largura máxima */
  margin: 0 auto;
  padding: 30px; /* Aumentar o padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.user-icon {
  margin-right: 10px;
  background: url('../assets/user-icon.png') no-repeat center center;
  background-size: contain;
  width: 24px;
  height: 24px;
}

input {
  width: 100%;
  padding: 12px; /* Aumentar o padding */
  border: none;
  outline: none;
  flex: 1;
}

button {
  width: 100%;
  padding: 12px; /* Aumentar o padding */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.cancel-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.cancel-link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .reset-password-container {
    padding: 20px;
  }

  .form-container {
    width: 100%;
  }

  input {
    padding: 10px;
  }

  button {
    padding: 10px;
  }
}
